body {
    background-color: rgb(203, 202, 232);
    color:rgb(58, 46, 135);
}

.fogyoban {
    color: red;
    font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(136, 194, 241);}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #2804aa;
  color: white;
}